pip install --user planet==1.5.1
pip install --user psutil
pip install --user requests
pip install --user retrying
pip install --user pySmartDL
pip install --user DateTimeRange


#pip uninstall planet==1.5.1
#pip uninstall psutil
#pip uninstall requests
#pip uninstall retrying
#pip uninstall pySmartDL
#pip uninstall DateTimeRange
